
#title {
  background-color: #ff4c68;
}
body {
  font-family: "Montserrat";
}
h1 {
  font-family: "Montserrat-Black",fantasy;
  font-size: 3.5rem;
  line-height: 1.5;
  color: white;
  margin-bottom: 50px;
}
/* navigation bar */
.navbar {
  padding: 0 0 4.5rem 0;
}
.navbar-brand {
  font-family: "Ubuntu-Black";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1rem;
}
.container-fluid {
  padding: 4% 15%;
}
/* title image */

.title-img {
  width: 65%;
  position: absolute;
  left: 20%;
  transform: rotate(27.5deg);

}
@media (max-width:1010px) {
  #title {
    text-align: center;
  }
  .title-img {
    position: static;
    transform: rotate(0);
  }
}
/* download buttons */
.down-butt {
  margin-right: 5px;
  margin-bottom: 100px;
}
/* for the icons and features section */
#features {
  background-color: white;
  padding: 7% 15%;
  position: relative;
}
@media (max-width:1010px) {
  .icon-head {
    font-size: 3rem;
  }
}
.feature-box {
  text-align: center;
  padding: 4.5%;
}
.check-cir, .bull-eye, .heart {
  color: #ef8172;
  margin-bottom: 10px;
}
i:hover {
  color: #ff4c68;
}
.icon-head {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
}
.icon-text{
  color: #8f8f8f;
  margin-bottom: 100px;
}

/* testimonials */
#testimonials {
  background-color: #ef8172;
  text-align: center;
  color: white;
}
.testimonial-text {
    font-size: 3rem;
    line-height: 1.75;
}
.test-dog, .test-hum {
  border-radius: 50%;
  width: 20%;
  padding: 30px;
}

/* press section */
#press {
  background-color: #ef8172;
  padding-bottom: 70px;
  text-align: center;
}
.press-img {
  width: 15%;
  padding: 0 20px 30px 20px;
}

/* carousels */
.carousel-item {
  padding: 7% 15%;
}
.blog .carousel-indicators {
	left: 0;
	top: auto;
    bottom: -40px;

}

/* The colour of the indicators */
.blog .carousel-indicators li {
    background: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.blog .carousel-indicators .active {
background: yellow;
}


/* pricing section cards */
#pricing {
  padding: 7% 15%;
  text-align: center;
}

.pricing-col {
  padding: 3% 2%;
  text-align: center;
}

/* cta section */
#cta {
  text-align: center;
  background-color: #ff4c68;
  padding: 7% 15%;
  color: white;
  margin: 0;
}
footer {
  text-align: center;
  padding: 5%;
  color: gray;
  margin: 0;
}
.foot-icon {
  margin-right: 20px;
}
.h3-line{
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
  text-align: center;
}
